<div class="card">
  <h1>STUPID COACHING GAME</h1>
  <img src="..." class="card-img-top" alt="...">
  <div>
    <h2>Ask <span id="coach">COACH HELL</span> a question...</h2>

    <form action="/answer">
      <input type="text" name="question">
      <input class= "btn-green" type="submit" value="Ask!">
    </form>
  </div>
</div>
