<h1 class= orange>Howdy, Welcome to <strong>HELL!</strong></h1>
<h2>Enter a word, <strong>at your own risk</strong></h2>

<form action="/answer">
  <input type="text" name="question">
  <input class= "btn-green" type="submit" value="Ask!">
</form>
