<div class="card">
  <h1>STUPID COACHING GAME</h1>
  <%= image_tag "Coach3.jpeg", height: 200 %>
  <div>
    <h2 id="coachtwo"><%= @answer %></h2>
    <br>
    <%= link_to "Talk again", root_path, class: "link" %>
  </div>
</div>
