<div class="card">
  <h1>STUPID COACHING GAME</h1>
  <%= image_tag "Coach3.jpeg", height: 200 %>

  <div>
    <h2>Talk to <span id="coachone">COACH HELL</span>...</h2>

    <form action="/answer">
      <input type="text" name="talk">
      <input class= "btn-green" type="submit" value="Talk">
    </form>
  </div>
</div>
