// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  border: 2px solid;
  text-align: center;
  width: 50%;
  border-radius: 3px;
  margin-top: 40px;
  margin-left: 250px;
  padding-bottom: 30px;
}

.btn-green {
  color: red;
}
.purple {
  background-color: purple;
}

.orange {
  background-color: orange;
}

h1 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: orange;
  margin-top: 0px;
}

#coachtwo {
  color: red;
  width: 250px;
  padding-left: 170px;
}
#coachone {
  color: red;
}

.link {
  text-decoration: none;
  color: black;
  background-color: green;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
}
.card-img-top {
  height: 200;
  width:100;
}
